* {
  box-sizing: border-box;
}
h2 {
	font-family: Courier;
}

h3 {
	font-family: Courier;
}

h5 {
	font-family: Courier;
}

p {
	text-indent: 20px;
}

body {
  font-family: Courier;
  padding: 20px;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}



/* Header/Blog Title */
.header {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  background-color: rgb(255,255,255,0.9);
}

/* header image */
.header_img {
  height: 150px;
  background-color: rgb(255,255,255,0);
  width: 100%;
  padding: 5px;
}

/* portrait image */
.portrait_img {
  background-color: rgb(255,255,255,0);
  width: 150;
  height: 150;
  padding: 0px;
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden;
  box-shadow: 4px 2px 15px 10px rgba( 0, 0, 0, 0.3);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  font-family: Georgia;
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #eee;
  width: 100%;
  padding: 20px;
  object-fit: fill;
}

  .picture-box {
    width: 100%; /* Adjust the width and height as needed */
    height: 250px;
	padding: 20px;
    overflow: hidden;
    position: relative;
  }
  .picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image fill the box and crop if necessary */
    position: absolute;
    top: 0;
    left: 0;
  }

  .picture-box-inline {
    width: 50%; /* Adjust the width and height as needed */
    height: 250px;
	padding: 20px;
    overflow: hidden;
    position: relative;
  }
  .picture-box-inline img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image fill the box and crop if necessary */
    position: absolute;
    top: 0;
    left: 0;
  }

/* Add a card effect for articles */
.card_right {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(255,255,255,0.9);
}

.card_left {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(255,255,255, 1);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1080px) {
  .header_img {
  width: 100%;
  }
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}